#background {
    background-image: url("assets/images/logo.jpeg");
    /* background-color: black; */
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: black;
}

.navbar img {
    width: 100px;
}

.dino {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    padding: 5px;
}

* {
    box-sizing: border-box;
    margin: 10px;
}

.defeated {
    opacity: 50%;
    border: none;
}


#dino-container {
    justify-content: center;
}

#current-opponent {
    
    text-align: right;
}

#current-opponent img {
    justify-content: right;
    text-align: right;
    max-height: 300px;   
}

#user-fighter {
    text-align: left;
}

#user-fighter img {
    justify-content: left;
    text-align: left;
    max-height: 300px;  
} 



.card-img-top {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p.card-text {
    margin-top: 0px;
    padding-top: 0px;
}

.card-body {
    margin: 0px;
    padding: 0px;
    /* height: 400px; */
}

.remove-text{
    display: none;
}

#opponent {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}