img {
    /* max-width: 150px; */
    max-height: 400px;
    margin: 10px;
    padding: 5px;
}

* {
    margin: 0px;
}

.defeated {
    opacity: 50%;
    border: none;
}


#dino-container {
    /* border: 2px solid black; */
    justify-content: center;
    /* display: inline-block; */
    vertical-align: bottom;
}

#vs {
    display: none;
}

#current-opponent {
    justify-content: right;
    text-align: right;
}

#current-opponent img {
    justify-content: right;
    text-align: right;
    float: right;
    margin: 0;
}

#user-fighter {
    justify-content: left;
    text-align: left;
}

#user-fighter img {
    justify-content: left;
    text-align: left;
    float: left;
    margin: 0;
}