img {
    max-width: 200px;
    max-height: 200px;
    /* margin: 10px; */
    /* padding: 5px; */
}


* {
    box-
    margin: 0px;
    background-image: url("assets/images/background.jpeg");
    /* background-color: black; */
}

.defeated {
    opacity: 50%;
    border: none;
}


#dino-container {
    /* border: 2px solid black; */
    justify-content: center;
    /* display: inline-block; */
    vertical-align: bottom;
}

#vs {
    display: none;
}

#current-opponent {
    justify-content: right;
    text-align: right;
}

#current-opponent img {
    justify-content: right;
    text-align: right;
    float: right;
    margin: 0;
}

#user-fighter {
    justify-content: left;
    text-align: left;
}

#user-fighter img {
    justify-content: left;
    text-align: left;
    float: left;
    margin: 0;
}



.card-img-top {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p.card-text {
    margin-top: 0px;
    padding-top: 0px;
}

.card-body {
    margin: 0px;
    padding: 0px;
    /* height: 400px; */
}

.remove-text{
    display: none;
}

#opponent {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}